@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore
@using AutoPlus.Data

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager


@if (SignInManager.IsSignedIn(User) && await UserManager.IsInRoleAsync(UserManager.GetUserAsync(User).Result, "admin"))
{           
<li class="nav-item dropdown show">
    <a class="dropdown-toggle nav-link text-dark" href="#" data-toggle="dropdown">Admin</a>
    <div class="dropdown-menu">
        <a class="dropdown-item" asp-area="Admin" asp-controller="Cars" asp-action="Index"> Cars</a>
        <a class="dropdown-item" asp-area="Admin" asp-controller="Brands" asp-action="Index"> Brands</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" asp-area="Admin" asp-controller="Order" asp-action="Index"> Orders</a>
    </div>
</li>
}
