<li class="nav-item dropdown show">
    <a class="dropdown-toggle nav-link text-dark" href="#" data-toggle="dropdown">Admin</a>
    <div class="dropdown-menu">
        <a class="dropdown-item" asp-area="Admin" asp-controller="Cars" asp-action="Index"> Cars</a>
        <a class="dropdown-item" asp-area="Admin" asp-controller="Brands" asp-action="Index"> Brands</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" asp-area="Admin" asp-controller="Users" asp-action="Index"> Users</a>
        <a class="dropdown-item" asp-area="Admin" asp-controller="ModelBrands" asp-action="Index"> ModelBrands</a>
        <a class="dropdown-item" asp-area="Admin" asp-controller="Orders" asp-action="Index"> Orders</a>
    </div>
</li>
<div class="container">
    <div class="row">
        <div class="col-sm-4">

        </div>
        <div class="col-sm-4">

        </div>
        <div class="col-sm-4">

        </div>
    </div>
</div>
